.gauge-icon {
  position: relative;
  top: -100%;
  height: 10rem;
  width: 10rem;
  text-align: center;
  color: #ccc;
}

.gauge-container {
  display: inline-block;
  height: 10rem;
  width: 10rem;
  text-align: center;
}

.gauge-icon:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25rem; /* Adjusts for spacing */
}

.gauge-icon i {
  font-size: 3rem;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.gauge-icon p {
  position: relative;
  top: -40%;
}
